@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,300;1,400;1,600;1,700&family=Raleway:ital,wght@0,300;0,400;0,600;0,700;0,900;1,300;1,400;1,600;1,700;1,900&display=swap");
/* 
font-family: 'Open Sans', sans-serif;
font-family: 'Raleway', sans-serif; 
*/

:root {
  /* Colors */
  --purple-grad-400: linear-gradient(134.13deg, #8d98ff -0.7%, #bfa7fd 97.82%);
  --purple-grad-500: linear-gradient(
    125.12deg,
    #bc85ff -4.39%,
    #6259fc 109.98%
  );

  --gray-400: #c0c0c0;
  --gray-800: #353e46;
  --black-900: #18191b;

  --blue-grad-300: linear-gradient(141.21deg, #8fcdfd 4.63%, #7075f4 88.27%);
  --blue-400: #6b6cf2;

  --pink-300: #eb65ee;
}

input.checkbox-item {
  display: block;
}
input.checkbox-dark {
  margin-right: 0.5rem;
  border: 1px solid #82878d;
  box-sizing: border-box;
  border-radius: 5px;
}
input.checkbox-dark.form-check-input:checked {
  background-color: #353e46;
  border-color: #353e46;
}
input.checkbox-dark.form-check-input[type="checkbox"]:checked {
  background-image: url("/svg/check-checkbox-dark.svg");
}
