.panel{
    width:760px;
    height:400px;
    background: linear-gradient(141.21deg, #8FCDFD 4.63%, #7075F4 88.27%);
    box-shadow: 0px 11px 24px -10px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
button{
    background: #18191B;
    border-radius: 16px;
    color:white;
    max-width: 300px;
    height: 60px;
    outline: 0;
    border:0;
}
h3{
    color:white;
}
input[type='text']{
    background: #FFFFFF;
    box-shadow: 0px 9px 11px -10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    border:1px solid lightgray;
    padding:5px;
    height:60px;
    width:300px;
}
input[type='text']:focus{
    border:1px solid lightgray;
    outline:0;
}
.grey-search-icon{
    width: 25px;
    height: 25px;
    background: url("search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:25px;
    
}
.logo-text{
    background: linear-gradient(125.12deg, #BC85FF -4.39%, #6259FC 109.98%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}
.text{
    font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #18191B;
opacity: 0.7;
}
.footer{
    background: #18191B;
    height:550px;
}
div{
    color: #FAFAFA;
    font-size:14px;
}
div > *{
    opacity: 0.95;
    line-height: 28px;
}
.text-h{
    font-weight: 600;
    font-size:24px;
}
.p{
    cursor: pointer;
}