.panel{
    width:760px;
    height:400px;
    background: linear-gradient(141.21deg, #8FCDFD 4.63%, #7075F4 88.27%);
    box-shadow: 0px 11px 24px -10px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
}
button{
    background: #18191B;
    border-radius: 16px;
    color:white;
    max-width: 300px;
    height: 60px;
    outline: 0;
    border:0;
}
h3{
    color:white;
}
input[type='text']:focus{
    border:1px solid lightgray;
    outline:0;
}
.grey-search-icon{
    width: 25px;
    height: 25px;
    background: url("search.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:25px;
    
}
.logo-text{
    background: linear-gradient(125.12deg, #BC85FF -4.39%, #6259FC 109.98%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
font-weight: 400;
font-size: 24px;
line-height: 24px;
}
.text{
    font-weight: 400;
font-size: 18px;
line-height: 25px;

color: #18191B;
opacity: 0.7;
}
.footer{
    background: #18191B;
    height:550px;
}
div{
    color: #FAFAFA;
    font-size:14px;
}
div > *{
    /* opacity: 0.95; */
    line-height: 28px;
}
.text-h{
    font-weight: 600;
    font-size:24px;
}
.p{
    cursor: pointer;
}
h5{
    color: #6B6CF2;
    font-size: 23px;
}
span{
    height: 16px;
    border-radius: 4px;
    background-color: #FFB5B5;
    padding: 2px 4px 2px 4px;
    font-weight: 500;
}
p{
    margin:0;
    color: #18191B;
    opacity: 0.6;
    font-size:14px;
    font-weight: 400;
    word-wrap: break-word;
    line-height: 28px;
}
.background{
    background: linear-gradient(141.21deg, #8FCDFD 4.63%, #7075F4 88.27%);
    border-radius: 32px 10px;
    width: 340px;
    height: 195px;
}
.background2{
    background: url('back1.png');
    border-radius: 32px 10px;
    width: 340px;
    height: 195px;
}
.background3{
    background: url('back2.png');
    border-radius: 32px 10px;
    width: 340px;
    height: 195px;
}
.python{
    width: 239px;
    height: 120px;
    background: url("python.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:239px;
    margin: auto;
}
.card{
height: 400px;
    background: #FFFFFF;
box-shadow: 0px 11px 24px -10px rgba(0, 0, 0, 0.08);
border-radius: 16px;
 width: fit-content;
 border:0;
 height: fit-content;
}
body{
    background-color: #F3F5F8;
}
b{
    font-weight: 700;
}
.bookmark-blue{
    width: 18px;
    height: 23px;
    background: url("bookmark-blue.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:18px;
    cursor: pointer;
}
.bookmark{
    width: 18px;
    height: 23px;
    background: url("bookmark.png");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:18px;
    cursor: pointer;
}
.green{
    background-color:  #77FF8D;
}
.yellow{
    background-color:
    #FFF177;
}
.o{
    opacity: 0.9;
}
.underline{
    background-color: #18191B;
    height:2px;
    border-radius: 1px;
    width:120px;
}
.sidebar{
    width: 260px;
    height: 918px;
    background: #FFFFFF;
    box-shadow: 0px 11px 24px -10px rgba(0, 0, 0, 0.08);
    border-radius: 16px;
}

.text-sm{
    color:#18191B;
    font-size: 12px;
}
a{
    text-decoration: none;
    color: #6B6CF2 !important;
    font-size: 12px;
}
.search-bar{
    width:100%;
    height:60px;
    background:#ffffff;
    border-radius: 16px;
    box-shadow: 0px 11px 24px -10px rgba(0, 0, 0, 0.08);
}
.sidebar-empty{
    width: 260px;
    height: 918px;
}
input[type='text']{
    background:transparent;
    border-radius: 16px;
    border: 0;
    padding: 4px;
    color: #18191B;
    padding-left: 20px;
}
input[type='text']:focus{
    border:0;
}
button{
    background: #6B6CF2;
    border-radius: 8px;
    height: 100%;
    width: 70px;
    
}
button > span {
    background-color: transparent;
}
div.fs{
    display: none;
}
.arrow{
    width: 18px;
    height: 23px;
    background: url("arrow.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size:18px;
    cursor: pointer;
}
.calendar-text{
font-style: normal;
font-weight: 500;
font-size: 24.2633px;
line-height: 28px;
position: relative;top: 25px;
color: #303030 ;
}