.card-grey{
        display: flex;
        background: #DFE0E0;
        box-shadow: 0px 11px 24px -10px rgba(0, 0, 0, 0.08);
        border-radius: 10px;
        aspect-ratio: 1/2;
        align-items: center;
        justify-content: center;    
        padding: 10px;
        width: 319px;
        text-align: left;
        margin-bottom: 40px;
        font-family: 'Open Sans', sans-serif;
        font-size: 12px;
        text-align: left;
}

.card{
    display: flex;
    flex-direction: column;
    background: #FFFFFF;
    box-shadow: 0px 11px 24px -10px rgba(0, 0, 0, 0.08);
    border-radius: 32px;
    min-width: 350px;
    max-height: 203px; 
    aspect-ratio: 1/2;
    align-items: center;
    justify-content: center; 
    text-align: left;
    margin-bottom: 40px;
}

h1{
    font-family: 'Open Sans', sans-serif;
    font-size: 22px;
}

h2{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
}

p{
    font-family: 'Open Sans', sans-serif;
    font-size: 12px;
}

.fls{
    width: 33px;
    height: 16px;
    background-color: #FFB5B5;
    border-radius: 4px;
    margin-left: 10px;
}

.jang{
    width: 36px;
    height: 16px;
    background-color: #FFB5B5;
    border-radius: 4px;
    text-align: left;
    margin-left: 10px;
}

.lang{
    display: flex;
    flex-direction: row;
    padding: 10px
}

.spez{
    text-align: left;
    width: 319px;

}

.pth{
    padding: 0 4px 0 4px;
    background-color: #FFA877;
    border-radius: 4px;
}

.tasks{
    text-align: left;
}

div#card-grey1{
    height: 89px;
}

ol{
    padding: 0;
}

.proj{
    text-align: left;
}

div#card-grey2{
    height: 66px;
} 

.comp{
    text-align: left;
}

div#card-grey3{
    height: 66px;
}

.time{
    text-align: left;
}

div#card-grey4{
    height: 66px;
}

.expr{
    text-align: left;
    width: 319px;
    padding: 10px;
}

.anlt{
    text-align: left;
}

.btn{
    background: linear-gradient(125.12deg, #BC85FF -4.39%, #6259FC 109.98%);
    border-radius: 73px;
    Width: 260px;
    Height: 65px;
    margin-top: 58px;
    margin-bottom: 15px;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    color:#FFFFFF;
}

.years3{
    background-color: #FFB5B5;
    padding:0px 3px 0px 3px;
    width:80px;
    border-radius: 8px;
}
.years2{
    background-color: #FFA877;
    padding:0px 3px 0px 3px;
    width:60px;
    border-radius: 8px;
}
.container{
    width:fit-content
}

.image{
    width: 300px;
    height: 300px;
    background: url(pic.png);
    background-repeat: no-repeat;
    background-size: 300px;
    background-position: center center;
}

.btn{
    margin: 0 auto;
    display: block;
}

.stevjbs{
    font-size: 22px;
    padding: 10px;
}

.text-black{
    color:#18191B;
}
.fls>p.text-black{
    line-height: 12px;
}
.pth>p.text-black{
    line-height: 12px;
}
.jang>p.text-black{
    line-height: 12px;
}